EW-Assistant/.vs/EW-Assistant/CopilotIndices/17.14.1204.46620/CodeChunks.db-shm
EW-Assistant/.vs/EW-Assistant/CopilotIndices/17.14.1204.46620/CodeChunks.db-wal
EW-Assistant/.vs/EW-Assistant/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-shm
EW-Assistant/.vs/EW-Assistant/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-wal
EW-Assistant/.vs/EW-Assistant/FileContentIndex/0c3c375d-75d5-41fe-96c1-8170335a4636.vsidx
EW-Assistant/.vs/EW-Assistant/FileContentIndex/4230b4ec-3a9a-4439-a494-5cbe30cb17be.vsidx
